html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #111111;
	height: 200vh;
}

/* link que ainda não foi visitado */
a:link {
   color: #dbdbdb;
}

/* link que foi visitado */
a:visited {
    text-decoration: overline;
}

#header {
	display: flex;
	height: 70px;
	width: 100%;
	background: #222222;
	
}

.caixa {
	position: relative;
	width: 100%;
	margin: 0;
}

.caixa img {
	padding-top: 10px;
	padding-left: 15px;
}

#menu {
	display: none;
}

#nav {
	display: block;
	background: #333333;
	width: 100%;
	list-style: none;
	padding: 5px 0;
	margin-top: 5px;
}

#nav li {
	margin: 5px 0 0 15px;
	padding: 5px 0px;
}

#nav a {
	text-transform: uppercase;
	color: #dbdbdb;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	/*transition: 0.8s;*/

}

#nav a:hover {
	color: #44D62C;
	text-decoration: none;
	transition: 1s;

}


footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 200px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


@media  screen and (max-width: 900px) {
	#menu {
	position: fixed;
	top: 500px;
	right: 50px;
	display: block;
	}	

}




