html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #111111;
}

/* link que ainda não foi visitado */
a:link {
   color: #dbdbdb;
}

/* link que foi visitado */
a:visited {
    text-decoration: overline;
}

#header {
	display: block;
	height: 70px;
	background: #222222;
}

.caixa {
    display: block;
}

.caixa img {
	display: inline-block;
	padding-top: 10px;
	padding-left: 15px;
}

#btn-menu {
	display: none;
}

#nav {
	position: absolute;
	top: 30px;
	right: 30px;
}

#nav li {
		display: inline-block;
		padding-left: 	20px;
}


#nav a {
	text-transform: uppercase;
	color: #dbdbdb;
	font-weight: bold;
	font-size: 14px;
	/*padding: 5px 10px 4px 10px;*/
	text-decoration: none;
	transition: color	 1s;
}

#nav a:hover {
	color: #44D62C;
	text-decoration: none;

}


footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 200px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


@media  screen and (max-width: 900px) {

	#nav li {
		display: none;
	}

	#btn-menu {
		display: block;
		position: absolute;
		right: 0px;
		top: 40px;
		margin-top: -45px;
	}


	#nav.active #btn-menu {
		display: block;
		position: absolute;
		right: 30px;
		top: 0;
		margin-top: -45px;
	}

	#nav.active {
		display: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		height: calc(100vh - 70px);
		background: #333333;
		transition: background 1s;
	}


	#nav.active li {
		display: block;
		transition: background 1s, color 1s;
		padding: 10px 10px 10px 0px;
		vertical-align: center;
	}

	#nav.active li:hover	 {
		background: #222222;
	}

	#nav.active a {
		text-transform: uppercase;
		color: #dbdbdb;
		font-weight: bold;
		font-size: 14px;
		text-decoration: none;
		transition: color	 1s;
		padding: 10px 30px 10px 15px;
	}

	#nav.active a:hover {
		color: #44D62C;
		text-decoration: none;

	}


}




